// mixin para el fondo de pantalla
@mixin fondoComun() {
    background-image: url("../images/fondo-abstracto-blanco_23-2148844575.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.bodyFondoComun {
    @include fondoComun(); // Aplica el fondo común al cuerpo del documento
}

/*---------*/
.colores-botones {
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .boton-azul {
    @extend .colores-botones;
    background-color: #007bff;
    color: #fff;
  }
  
  .boton-gris {
    @extend .colores-botones;
    background-color: #6c757d;
    color: #fff;
  }
/*----------------*/
